<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}
    {{>menu}}

    <section id="grad1">
    <br>
        <section class="container transparent-box">
        <h2>My Schedule</h2>
        <hr class="hr-2">
            <div class="main no-margin">
                <iframe class="cal" src="https://calendar.google.com/calendar/embed?src=dseebaluck17%40alustudent.com&ctz=Indian%2FMauritius" style="border: 0" frameborder="0" scrolling="no"></iframe>
            </div>
        </section>
        <br>
    </section>

</body>

</html>