    <div class="sidenav">
        <a href="/dashboard">Dashboard</a>
        <a href="/blackboard">Blackboard</a>
        <a href="/assignments">Assignments</a>
        <a href="/modules">Modules</a>
        <a href="/calendar">Calendar</a>
    </div>