    <nav class="navbar fixed-top navbar-light bg-blue">
        <a class="navbar-brand text-white text-large  margin-one-left" href="/dashboard">My Student Life</a>
        <span class="navbar-text margin-five-right">
            <a href="/" class="text-white logout-font"><img src="logout.png" width="20" height="auto"> Log out</a>
        </span> 
    </nav>
