<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>

    <section class="bg-dangerous padding-eleven-bottom">
        <h1 class="text-center text-white brand-padding">My Student Life</h1>
        
        <div class="login-box container text-center text-white">
            <div class="row">

                <div class="col padding-three">
                    <h2>Let's Get Started</h2>
                    <img src="./register.png" alt="..." class="user-icon">
                    <p>Already have an Account?</p>
                    <a class="btn btn-outline-light" href="/" role="button">Log In!</a>
                </div>
                
                <div class="col padding-three fader">
                    <form method="post" role="form" class="form-margin" action="">
                        <div class="form-group padding-20px-top">
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Username" required>
                        </div>
                        <div class="form-group padding-20px-top">
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email-Address" aria-describedby="emailHelp" required>
                        </div>
                        <div class="form-group padding-20px-top">
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
                        </div>
                        <div class="padding-10px-top">
                        <button type="submit" class="btn btn-login ">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</body>

</html>